# Enable the rewriting engine
RewriteEngine On

# Rewrite URLs without file extensions to .php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]



# Allow access to image files from all sources
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
