
* {
    margin: 0;
    padding: 0;
}


body {
    background-image: url(../../Images/pc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width:578px) {
    body {
            background-image: url(../../Images/mob2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
}