body{
    background-image: url(../../Images/pexels-craig-adderley-2566121.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
@media screen and (max-height: 768px)  {
  body{
    background-image: url(../../Images/pexels-craig-adderley-2566121.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}