* {
  margin: 0;
  padding: 0;
}


body {
  background-image: url(../../Images/pc1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
@media screen and (min-width: 320px) {
	body {
		background-image: url(../../Images/mob5.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
	}
}

@media screen and (min-width:575px) {
  body {
    background-image: url(../../Images/mob5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}